<div class="section-1">
    <%- include ('totembar.ejs') %>
    <div class="workspace">
        <h5 class="text-header"><i class="fa-solid fa-pencil"></i> Kemaskini Kumpulan</h5>
        <div class="panel flex-row">
            <div class="flex-column">
                <label for="sel-pertandingan" style="padding-left: 6px;">Pilih Pertandingan</label>
                <select name="sel-pertandingan" id="sel-pertandingan">
                    <option value="">Pilih Pertandingan</option>
                </select>
            </div>
            <div class="flex-column">
                <label for="nama-kumpulan" style="padding-left: 6px;">Nama Kumpulan</label>
                <input type="text" id="nama-kumpulan" type="text">
            </div>
            <div class="flex-column">
                <label for="nama-kumpulan" style="padding-left: 6px;">-</label>
                <button class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
            </div>
            
        </div>
        <h5 class="text-header"><i class="fa-solid fa-users"></i> Senarai Peserta</h5>
        <div class="panel flex-row">
            <table class="table-black width-full">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>KP</th>
                        <th>Darjah/ Tingkatan</th>
                        <th>Jantina</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nurul</td>
                        <td>0123456789</td>
                        <td>S1</td>
                        <td>Perempuan</td>
                        <td><button class="btn btn-danger btn-sm"><i class="fa-solid fa-user-slash fa-2xs"></i></button></td>
                    </tr>
                    <tr>
                        <td>Halim</td>
                        <td>0123456772</td>
                        <td>S1</td>
                        <td>Lelaki</td>
                        <td><button class="btn btn-danger btn-sm"><i class="fa-solid fa-user-slash fa-2xs"></i></button></td>
                    </tr>
                    <tr>
                        <td>Jamil</td>
                        <td>0123456001</td>
                        <td>S1</td>
                        <td>Lelaki</td>
                        <td><button class="btn btn-danger btn-sm"><i class="fa-solid fa-user-slash fa-2xs"></i></button></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <button id="btn-addpeserta" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Tambah Peserta</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h5 class="text-header"><i class="fa-solid fa-file-shield"></i> Serahan Tugasan</h5>
        <div class="panel flex-row">
            <div class="flex-column thumb">
                <i class="fa-solid fa-circle-plus fa-2x"></i>
                <span>Hantar</span>
            </div>
            <div class="flex-column thumb">
                <i class="fa-solid fa-file-pdf fa-2x"></i>
                <span>Tugasan I</span>
            </div>
            <div class="flex-column thumb">
                <i class="fa-solid fa-file-pdf fa-2x"></i>
                <span>Tugasan II</span>
            </div>
        </div>
    </div>
</div>

<div id="popUp-add" class="popUp hide">
    <div class="popUp-container flex-column width-full" id="listContainer">
        <div class="acara-list">
            <div class="flex-row">
                <input class="flex-grow-4" type="text" id="srcstudent">
                <div class="button-small float-right" id="btn-cari"><i class="fa-solid fa-magnifying-glass"></i></i>&nbsp;&nbsp;Cari</div>
            </div>
            <p>*Carian menggunakan nama atau kad pengenalan peserta</p>
            <div class="list-panel">
                <table class="table-black" id="search-result">
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="flex-row">
                <div class="button-small float-right" id="btn-batal" onclick="closePopupAdd()"><i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Batal</div>
                
            </div>
        </div>
    </div>
</div>

<script src="./assets/jquery/3.6.0/jquery-3.6.0.min.js"></script>
<script src="./assets/d3/v7/d3.v7.min.js"></script>
<script src="./assets/xlsx/xlsx.full.min.js"></script>

<script>
    let api = {
        program: (fn) => {
            $.ajax({
                type: "POST",
                url: '/api/program/senarai',
                data: {},
                success: function (res) {
                    fn(res);
                },
                dataType: 'json'
            });
        },
        add: (fn) => {
            var pertandingan = $('#sel-pertandingan').val();
            var namakumpulan = $('#nama-kumpulan').val();
            $.ajax({
                type: "POST",
                url: '/api/kumpulan/addkumpulan',
                data: {
                    pertandingan: pertandingan,
                    namakumpulan: namakumpulan
                },
                success: function (res) {
                    fn(res);
                },
                dataType: 'json'
            });
        },
        search: (fn) => {
            var src = $('#srcstudent').val();
            $.ajax({
                type: "POST",
                url: '/api/peserta/search',
                data: {
                    search: src
                },
                success: function (res) {
                    fn(res);
                },
                dataType: 'json'
            });
        }
    }

    function loadPrograms(){
        api.program(data=>{
            console.log(data);

            var sel = d3.select('#sel-pertandingan');
            var sel2 = d3.select('#sel-pertandingan-update');
            sel.selectAll('option').remove();

            options = [{value:"", text:""}];

            data.forEach(d=>{
                options.push({
                    value: d.prog_name,
                    text: d.prog_name
                })
            });

            sel.selectAll('option').data(options).enter().append('option').call(o=>{
                o.attr('value',d=>d.value);
                o.text(d=>d.text);
            });

            sel2.selectAll('option').data(options).enter().append('option').call(o=>{
                o.attr('value',d=>d.value);
                o.text(d=>d.text);
            })

            $('#sel-pertandingan').val('<%= kumpulan.program %>');
            $('#nama-kumpulan').val('<%= kumpulan.nama_kumpulan %>');
        })
    }

    $(document).ready(()=>{
        loadPrograms();
    })
</script>

<script>
    d3.select('#btn-addpeserta').on('click', e=>{
        $('#popUp-add').removeClass('hide');
    });

    

    d3.select('#btn-cari').on('click', e=> {
        api.search(data=>{
            console.log(data);
            var tbl = d3.select('#search-result');
            var tbdy = tbl.select('tbody');
            tbdy.selectAll('tr').remove();

            tbdy.selectAll('.tr-search').data(data).enter().append('tr').call(o=>{
                o.append('td').text(d=>d.nama);
                o.append('td').text(d=>d.kp);
                o.append('td').text(d=>d.darjah_tingkatan);
                o.append('td').text(d=>d.jantina);
                t = o.append('td');
                btn = t.append('div').attr('class','btn btn-sm float-right');
                btn.html('<i class="fa-solid fa-arrow-up-right-from-square"></i>');

                const updateTable = (_data) => {
                    var _tbl = d3.select('#selected-peserta');
                    var _tbdy = _tbl.select('tbody');
                    
                    const rows = _tbdy.selectAll('tr').data(_data);

                    // Enter phase
                    const rowsEnter = rows.enter()
                        .append('tr');

                    // Update phase
                    const mergedRows = rowsEnter.merge(rows);

                    // Append data to each <tr>
                    mergedRows.each(function (d) {
                        const row = d3.select(this);
                        row.selectAll('td').remove(); // Clear existing td elements
                        row.append('td').text(d.nama);
                        row.append('td').text(d.kp);
                        row.append('td').text(d.darjah_tingkatan);
                        row.append('td').text(d.jantina);

                        const deleteBtn = row.append('td')
                            .append('div')
                            .attr('class', 'button-small float-right');
                        deleteBtn.html('<i class="fa-solid fa-xmark"></i>');
                    });

                    // Exit phase
                    rows.exit().remove();

                    $('#popUp-add').addClass('hide');
                };

                btn.on('click', (e, d)=> {
                    updateTable([d]);
                });
            })
        })
    });

    function closePopupAdd(){
            $('#popUp-add').addClass('hide');
    }
</script>