<div class="section-1">
    <div class="login center flex-column">
        <h3>Login</h3>
        <input class="my-6 w-500" type="text" placeholder="Email/ ID Pengguna"></input>
        <input class="my-6 w-500" type="password" placeholder="Kata Laluan"></input>
        <hr></hr>
        <a class="button my-6 w-500" >Log Masuk</a>
        <a class="button my-6 w-500" href="/auth/google">Log Masuk dengan Google</a>
        <a class="button my-6 w-500" href="/auth/microsoft">Log Masuk dengan Microsoft</a>
    </div>
</div>
