<div class="section-1">
    <div class="popUp hide">
        
        <div id="pop" class="popUp-container flex-column" style="min-height: 100px;max-height:100vh;margin-left:10px">

        </div>
    </div>
    <%- include ('totembar.ejs') %>
    <div class="workspace">
        <h2>Urus Peserta</h2>
        <div id="input-tray" class="input-tray fill-container flex-column center">
            
        </div>
        
        <div class="flex-row float-bottom">
            <button class="button" id="saveThis"><i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Simpan</button>
        </div>
    </div>
</div>
    
<div class="idlePopUp center hide">
    <i class="fa-solid fa-spinner fa-spin-pulse fa-3x"></i>
    <div id="themsg1"></div>
    <div id="themsg"></div>
</div>
    
<div id="popUp-list" class="popUp hide">
    <div class="popUp-container flex-column width-full" id="listContainer">
        <div class="acara-list">
            <div class="flex-row">
                <h5>Sila pilih pertandingan</h5>
                <div class="button float-right" onclick="closePopup()"><i class="fa-solid fa-x"></i></div>
            </div>
            <div class="flex-row acara" style="font-style:italic;color:var(--secondary-color) !important;padding-bottom:20px;border-bottom: 1px solid rgb(102, 102, 102);">
                <input type="checkbox" class="chk_select_all" id="chk_select_all" name="chk_select_all" value="Pilih Semua">
                <label for="chk_select_all" style="padding-left: 6px;">Pilih Semua Pertandingan</label>
            </div>
            <div class="pertandingan"></div>
            
            <div class="flex-row py-6">
                <div class="button" id="btn-selectCommon"><i class="fa-solid fa-square-check"></i>&nbsp;&nbsp;Pilih</div>
            </div>
        </div>
    </div>
</div>

<div class="popEdit hide">
    <div class="popEdit-container">
        <div class="flex-row width-full">
            <div class="button float-right" onclick="closeEdit()">
                X
            </div>
        </div>
        <div class="flex-row my-6">
            <div class="col-label">Nama</div>
            <div>
                <input type="text" name="txtnama" id="txtnama">
            </div>
        </div>
        <div class="flex-row my-6">
            <div class="col-label">Kad Pengenalan (KP)</div>
            <div>
                <input type="text" name="txtkp" id="txtkp">
            </div>
        </div>
        <div class="flex-row my-6">
            <div class="col-label">Jantina</div>
            <div>
                <select name="seljantina" id="seljantina">
                    <option value=""></option>
                    <option value="Lelaki">Lelaki</option>
                    <option value="Perempuan">Perempuan</option>
                </select>
            </div>
        </div>
        <div class="flex-row my-6">
            <div class="col-label">Tarikh Lahir</div>
            <div>
                <input type="date" name="txtdob" id="txtdob">
            </div>
        </div>
        <div class="flex-row my-6">
            <div class="col-label">Email</div>
            <div>
                <input type="text" name="txtemail" id="txtemail">
            </div>
        </div>
        <div class="flex-row my-6">
            <div class="col-label">Darjah/ Tingkatan</div>
            <div>
                <input type="text" name="txtdarjah" id="txtdarjah">
            </div>
        </div>
        <div class="flex-row my-6">
            <div class="col-label">Bangsa</div>
            <div>
                <input type="text" name="txtbangsa" id="txtbangsa">
            </div>
        </div>
        <div class="flex-row my-6">
            <div class="col-label">Penyertaan</div>
            <div id="individu_acara" class="flex-column">
                
            </div>
        </div>
        <div class="flex-row float-bottom">
            <button class="button" id="saveIndividu"><i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Simpan</button>
        </div>
    </div>
</div>

    
<script src="./assets/jquery/3.6.0/jquery-3.6.0.min.js"></script>
<script src="./assets/d3/v7/d3.v7.min.js"></script>
    
<script>
    var requestsSent = 0;
    var responsesReceived = 0;
    var pages = 0;

    const myIntervalReading = setInterval(()=>{
        d3.select('#themsg').text(responsesReceived + '/' + pages);
    }, 1000);

    var API = {
            load: (peringkat, fn) => {
                d3.select('.popUp').classed('hide',false);
                d3.select('.popUp-container').append('div').text('Muat turun data...')
                $.ajax({
                        type: "POST",
                        url: '/api/peserta/load',
                        data: {peringkat:peringkat},
                        success: function (res) {
                            d3.select('.popUp').classed('hide',true);
                            d3.select('.popUp-container').selectAll('*').remove()
                            fn(res);
                        },
                        dataType: 'json'
                    });
            },
            loadPrograms(fn){
                $.ajax({
                        type: "POST",
                        url: '/api/program/list',
                        data: {},
                        success: function (res) {
                            
                            fn(res);
                        },
                        dataType: 'json'
                    });
            },
            addbulk: (data, i, fn) => {
                
                d3.select('.idlePopUp').classed('hide',false);
                d3.select('#themsg1').text('menyimpan data batch[' + i + '] ' + data.length + ' rekod');
                
                $.ajax({
                        type: "POST",
                        url: '/api/peserta/add',
                        data: {peserta:data},
                        success: function (res) {
                            // Handle the success response
                            
                            // Increment the responses received count
                            responsesReceived++;
                            
                            // Check if all responses have been received
                            if (responsesReceived === requestsSent) {
                                // All requests have been completed
                                console.log("All requests have returned their responses.");
                            }
                        },
                        dataType: 'json',
                        complete: function(jqXHR, textStatus) {
                            var response = jqXHR.responseText;
                            console.log('Response:', response);
                            // Handle the success response
                            
                            // Increment the responses received count
                            responsesReceived++;
                            
                            // Check if all responses have been received
                            if (responsesReceived >= pages) {
                                // All requests have been completed
                                console.log("All requests have returned their responses.");
                                d3.select('.idlePopUp').classed('hide',true);
                                pages = 0;
                            }
                        },
                        xhr: function() {
                            var xhr = new window.XMLHttpRequest();
                            
                            // Attach progress event listener
                            xhr.upload.addEventListener("progress", function(evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = (evt.loaded / evt.total) * 100;
                                // Update progress bar or display the progress percentage
                                //console.log(percentComplete + "%");
                                requestsSent++;
                            }
                            }, false);
                            
                            return xhr;
                        },
                    });
            }
        }

    API.loadPrograms((prog)=>{
            console.log(prog);
            lst = [];
            prog.forEach((d)=>{
                lst.push({id:'__tmp__', acara:d.prog_name});
            });
            acara = d3.select('#individu_acara');
            acara_contain = acara.append('div').attr('class','flex-column');
            acara_contain.selectAll('.acara').data(lst).enter().append('div').call((a)=>{
                a.attr('class','flex-row acara').attr('id',(d)=>'acara_' + d.id).style('border-bottom','1px solid #666');
                chk = a.append('input').attr('type','checkbox').attr('class',(d)=>('_header'))
                .attr('id',(d, i)=>('_' + d.id + '_' + i))
                .attr('name',(d)=>('_' + d.id))
                .attr('value', d=>d.acara);
                a.append('label').style('padding-left','6px').attr('for',(d, i)=>('_' + d.id + '_' + i)).text(d=>d.acara);

                chk.on('change',(e, d)=>{
                    ic = e.target.id.split('_')[1];
                    nx = d3.selectAll('._' + ic + ':checked').data();
                    n = nx.length;
                    
                    d3.select('#button-' + ic).classed('bg-green',n>0?true:false).html((n>0)?'<i class="fa-solid fa-person-walking-arrow-right"></i>&nbsp;&nbsp;Penyertaan<div class="float-right score">' + n + '</div>':'<i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Pilih penyertaan...')
                    console.log(e.target.id, d, ic, n);

                })
            });
        });
        
    d3.select('.idlePopUp').classed('hide',false);
    API.load('sekolah', (data)=>{
        API.loadPrograms((prog)=>{
            lst = [];
            prog.forEach((d)=>{
                lst.push(d.prog_name);
            });
            renderD3Table(lst,data);
            d3.select('.idlePopUp').classed('hide',true);
        });
    })
</script>

<script>
    
    function getJsonKeys(jsonData) {
    // Create an empty array to store the keys
    var keys = [];

    // Loop through the first object in the JSON data
    for (var key in jsonData[0]) {
        // Add the key to the array
        keys.push(key);
    }

        // Return the array of keys
        return keys;
    }


    function renderD3Table(lst, data){
        //console.log(lst, data);
        //const distinct = arr.filter((value, index, self) => {
        //    return self.indexOf(value) === index;
        //});
        
        
        var setCommonPertandingan = (e)=>{
            var r = d3.selectAll('.chk_acara:checked').data();
            
            d3.selectAll('.chk-all').property('checked',false);
            r.forEach((p)=>{
                d3.selectAll('.chk-all[value="' + p + '"]').property('checked',true);
            });

            data.forEach((d)=>{
                ic = d.kp;
                //nx = d3.selectAll('._' + ic + ':checked').data();
                n = r.length;
                d3.select('#button-' + ic).classed('bg-green',n>0?true:false).html((n>0)?'<i class="fa-solid fa-person-walking-arrow-right"></i>&nbsp;&nbsp;Penyertaan<div class="float-right score">' + n + '</div>':'<i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Pilih penyertaan...')
            });

            $('#popUp-list').addClass('hide');
            
        };
        d3.select('#btn-selectCommon').on('click', setCommonPertandingan);

        //KELAS
        kelas = [];
        bangsa = [];
        data.forEach((d)=>{
            d.darjah_tingkatan = d.darjah_tingkatan + '';
            d.kp = d.kp + '';
            d.bangsa = d.bangsa===null?'':d.bangsa;
            d.email = d.email===null?'':d.email;
            kelas.push(d.darjah_tingkatan);
            bangsa.push(d.bangsa);
        });

        kelas = kelas.filter((value, index, self) => {
            return self.indexOf(value) === index;
        });
        kelas = kelas.sort();

        kelas.unshift('');

        //BANGSA
        
        bangsa = bangsa.filter((value, index, self) => {
            return self.indexOf(value) === index;
        });

        bangsa.unshift('');

        //console.log(data);

        /*
        lst = [
                'Cabaran Kereta Lestari',
                'Misi Penerbangan Dron',
                'Cabaran Mencipta Robot* (keterangkuman)',
                'Program Jangkauan Techlympics',
                'Cabaran Bandar Pintar',
                'Pemikiran Komputasi Kanak-Kanak (FC-1)'
            ];
            */

        const doFilter = (e, d)=>{
            val = $('#srcfilter').val();
            _kelas = $('#kelas').val();
            _bangsa = $('#bangsa').val();

            _d = data.filter((d)=> {
                //console.log(d);
                return (d.nama.toUpperCase().match(val.toUpperCase()) || d.kp.match(val)) && d.darjah_tingkatan.match(_kelas) && d.bangsa.match(_bangsa)
            });

            //console.log(_d);

            d3.selectAll('.peserta').classed('hide',true);
            _d.forEach((d)=>{d3.select('.peserta-' + d.kp).classed('hide',false)});
        }

        keys = getJsonKeys(data);

        keys = keys.filter((d)=>d!=='usr_email' && d!=='program' && d!=='jantina' && d!=='tarikh_lahir');
        //keys.push('Penyertaan Acara')
        c = d3.select('#input-tray').attr('class','heigth-90vh overflow-scroll');
        c.selectAll('*').remove();

        if(data.length===0){
            c.append('span').text('Masih belum ada peserta yang di daftarkan di bawah akaun ini...')
            return;
        }

        table = c.append('table').attr('class','table-x width-full');

        div_save_bottom = c.append('div').attr('class','flex-row float-bottom');
        btn_save_bottom = c.append('div').attr('class','flex-row float-bottom');

        thead = table.append('thead');

        trhs = thead.append('tr');
        ths = trhs.append('th').attr('colspan',9);
        //BUTTON to save
        var savethis = (e)=>{
            //var _data = d3.selectAll(".peserta", {style: "all"}).data();
            d3.select('.idlePopUp').classed('hide',false);
            var saving_data = [];
            var saving_batch = [];

            var MAX_ROW = 50;

            var n = Math.ceil(data.length/MAX_ROW);
            pages = n;

            data.forEach((d)=>{
                sel_ = [];
                d3.selectAll('._'+d.kp + ':checked').data().forEach((d)=>{
                    sel_.push(d.acara);
                });
                sel = sel_.join('|');
                saving_data.push({
                    nama: d.nama,
                    kp: d.kp,
                    jantina:d.jantina,
                    tarikh_lahir:d.tarikh_lahir,
                    email: d.email,
                    darjah_tingkatan: d.darjah_tingkatan,
                    bangsa: d.bangsa,
                    program: sel
                });

                if(saving_data.length==MAX_ROW){
                    saving_batch.push(saving_data.slice());
                    saving_data = [];
                }
                //
            });

            if(saving_data.length > 0){
                saving_batch.push(saving_data.slice());
            }

            
            //console.log(saving_batch);
            //saving_batch.forEach((dx, i)=>{
            //});
            
            var i = 0;
            var pushAddInterval = setInterval(()=>{
                if(saving_batch[i]){
                    API.addbulk(saving_batch[i], i, (d)=>{
                        console.log(d);
                    });
                }
                i++;
                
                if(i>n){
                    clearInterval(pushAddInterval,3000);
                }
            }, 3000);

            /*
            API.addbulk(saving_data, (d)=>{
                console.log(d);
            });
            //console.log(saving_data);
            //console.log(saving_data);
            d3.select('.idlePopUp').classed('hide',false);
            setTimeout(()=>{
                d3.select('.idlePopUp').classed('hide',true);
            }, 8000);
            */
        }
        bts_simpan = ths.append('div').attr('class','flex-row').append('div').attr('class','button float-right').html('<i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Simpan')
        bts_simpan.on('click', savethis);
        d3.select('#saveThis').on('click', savethis);

        trh = thead.append('tr');
        trh.selectAll('th').data(keys).enter().append('th').text(d=>d.toUpperCase());
        trh.append('th').text('JANTINA');
        trh.append('th').text('TARIKH LAHIR');
        td_def = trh.append('th').attr('style','width:300px').append('div').attr('class','flex-row center');
        td_def.append('div').text('PENYERTAAN PERTANDINGAN');

        trh.append('th'); //empty header

        //BUTTON to set default
        btn_def = td_def.append('div').attr('class','button float-right').html('<i class="fa-solid fa-list"></i>');
        btn_def.on('click', ()=>{
            //console.log('lst: ',lst);
            d3.select('#chk_select_all').property('checked',false);
            d3.select('#popUp-list').classed('hide',false);
            acara_contain = d3.select('#listContainer > .acara-list > .pertandingan');

            acara_contain.selectAll('.acara').remove();
            
            acara_contain.selectAll('.acara').data(lst).enter().append('div').call((a)=>{
                a.attr('class','flex-row acara').attr('id',(d)=>'acara_' + d.id).style('border-bottom','1px solid #666');
                chk = a.append('input').attr('type','checkbox').attr('class',(d)=>('chk_acara'))
                .attr('id',(d, i)=>('acara_' + i))
                .attr('name',(d, i)=>('acara_' + i))
                .attr('value', d=>d);
                a.append('label').style('padding-left','6px').attr('for',(d, i)=>('acara_' + i)).text(d=>d);

            });
        });

        trh2 = thead.append('tr');
        src = trh2.append('td').attr('colspan',3).append('input').attr('type','text').style('width','100%').attr('id','srcfilter');

        src2 = trh2.append('td').append('select').attr('id','kelas').style('width','100%');
        src2.selectAll('option').data(kelas.sort((a,b)=>a-b)).enter().append('option').text(d=>d);

        //trh2.append('td'); // empty header
        src2x = trh2.append('td').append('select').attr('id','bangsa').style('width','100%');
        src2x.selectAll('option').data(bangsa.sort((a,b)=>a-b)).enter().append('option').text(d=>d);


        src3 = trh2.append('td').append('select').attr('id','jantina').style('width','100%');
        src3.selectAll('option').data(['','Lelaki','Perempuan']).enter().append('option').text(d=>d);

        trh2.append('td'); // empty header

        var lst2 = lst.slice();
        lst2.unshift('Belum memilih acara');
        lst2.unshift('Semua Acara');
        src3 = trh2.append('td').append('select').style('width','100%');
        src3.selectAll('option').data(lst2).enter().append('option').text(d=>d);

        src.on('keyup', doFilter);
        src2.on('change', doFilter);// kelas
        src2x.on('change', doFilter); //bangsa

        trh2.append('td'); // empty header

        tbody = table.append('tbody')
        tbody.selectAll('tr').data(data.sort((a,b)=>a.darjah_tingkatan-b.darjah_tingkatan)).enter().append('tr').call((o)=>{
            o.attr('class',(d)=>'peserta peserta-' + d.kp);
            keys.forEach((key, i)=>{
                o.append('td').attr('style',(i===3)?'text-align:center':'text-align:left').text((d)=>d[key]);
            });

            var _jantina = o.append('td').append('select').attr('id',(d)=>'gender_' + d.kp).style('width','100%').attr('value',d=>d.jantina);
            _jantina.selectAll('option').data(d=>{
                _v = d.jantina;

                return [
                    {chk: _v===''?true:false, val:''},
                    {chk: _v==='Lelaki'?true:false, val:'Lelaki'},
                    {chk: _v==='Perempuan'?true:false, val:'Perempuan'}
                ]
            }).enter().append('option')
                    .attr('value',d=>d.val).text(d=>d.val).property('selected',d=>d.chk);

            var _dob = o.append('td').append('input').attr('id',(d)=>'dob_' + d.kp).attr('type','date').style('width','100%').attr('value',d=>d.tarikh_lahir.substring(0,10));



            acara = o.append('td').append('div').attr('class','flex-column');
            acara_header = acara.append('div').attr('class','flex-row');
            btn_acara = acara_header.append('div')
                        .attr('class','button width-full flex-row')
                        .attr('id',(d)=>('button-' + d.kp))
                        .html('<i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Pilih acara...');

            btn_acara.on('click', (e, d) => {
                el = '#container-' + d.kp;
                console.log(el, d3.select(el).classed('hide'));

                d3.select(el).classed('hide',!d3.select(el).classed('hide'));
            })

            acara_contain = acara.append('div').attr('class','flex-column hide').attr('id',(d)=>('container-' + d.kp));
            acara_contain.selectAll('.acara').data((d)=>{
                //console.log('------------->>>>>>>>>>>>>', d);
                id = d.kp;
                v = [];
                var clean = (str)=>{
                    str_ = str;
                    chr = '()*'.split('');
                    chr.forEach((d)=>str_ = str_.replace(d,''));
                    return str_.trim();
                }
                //console.log('PROGRAMMMMM',d);
                lst.forEach((x)=>{
                    //console.log('PROGRAMMMMM dasffsdf sdfsdfsdfsd fsdfsdfsdf',d.program);
                    //console.log(((d.program!=='')?false:(d.program.match(x).length>0?true:false)),'----->',x,'===',d.program);
                    try{
                        if(d.program.length > 0){
                            //console.log('PROGRAMMMMM',d.program);
                            //console.log(x, clean(x));
                            y = d.program;
                            //console.log('yyyyyy',y);
                            v.push({id:id, acara:x, checked:clean(x).match(clean(y)).length>0?true:false, program:d.program})
                        }else{
                            v.push({id:id, acara:x, checked:false})
                        }
                        
                    }catch(err){
                        v.push({id:id, acara:x, checked:false});
                        //console.log(err);
                    }
                    
                });
                //console.log('vvvv====>',v);
                return v;
            }).enter().append('div').call((a)=>{
                a.attr('class','flex-row').attr('id',(d)=>'acara_' + d.id).style('border-bottom','1px solid #666');
                chk = a.append('input').property('checked',d=>d.checked).attr('type','checkbox').attr('class',(d)=>('chk-all _' + d.id))
                .attr('id',(d, i)=>('_' + d.id + '_' + i))
                .attr('name',(d)=>('_' + d.id))
                .attr('value', d=>d.acara);
                a.append('label').style('padding-left','6px').attr('for',(d, i)=>('_' + d.id + '_' + i)).text(d=>d.acara);

                chk.on('change',(e, d)=>{
                    ic = e.target.id.split('_')[1];
                    nx = d3.selectAll('._' + ic + ':checked').data();
                    n = nx.length;
                    
                    d3.select('#button-' + ic).classed('bg-green',n>0?true:false).html((n>0)?'<i class="fa-solid fa-person-walking-arrow-right"></i>&nbsp;&nbsp;Penyertaan<div class="float-right score">' + n + '</div>':'<i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Pilih acara...')
                    //console.log(e.target.id, d, ic, n);

                })
            });

            btnEdit = o.append('td').append('div').attr('class','button').html('<i class="fa-solid fa-pen-to-square"></i>');
            btnEdit.on('click', (e, d)=>{
                d3.select('.popEdit').classed('hide', false);
                $('#txtnama').val(d.nama);
                $('#txtkp').val(d.kp);
                $('#seljantina').val(d.jantina);
                $('#txtdob').val(d.tarikh_lahir);
                $('#txtemail').val(d.email);
                $('#txtdarjah').val(d.darjah_tingkatan);


            })
        });
        data.forEach((d)=>{
            ic = d.kp;
            nx = d.program.split('|');
            n = nx.length-(d.program.length > 1?0:1);
            d3.select('#button-' + ic).classed('bg-green',n>0?true:false).html((n>0)?'<i class="fa-solid fa-person-walking-arrow-right"></i>&nbsp;&nbsp;Penyertaan<div class="float-right score">' + n + '</div>':'<i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Pilih acara...');
        });

       
    }
</script>

<script>
    function closePopup(){
        $('#popUp-list').addClass('hide');
    }

    function closeEdit(){
        $('.popEdit').addClass('hide');
    }

    d3.select('#chk_select_all').on('change', (e)=>{
        chk = d3.select('#chk_select_all').property('checked');
        d3.selectAll('.chk_acara').property('checked',chk)
    });

    d3.select('#saveIndividu').on('click', (e, d)=>{
        //var _data = d3.selectAll(".peserta", {style: "all"}).data();
        var saving_data = [];
            sel_ = [];
            d3.select('#individu_acara') .selectAll('input[type="checkbox"]:checked').data().forEach((d)=>{
                sel_.push(d.acara);
            });

            jantina = $('#txtjantina' ).val();
            dob = $('#txtdob').val();

            sel = sel_.join('|');
            saving_data.push({
                nama: $('#txtnama').val(),
                kp: $('#txtkp').val(),
                jantina:$('#seljantina').val(),
                tarikh_lahir:$('#txtdob').val(),
                email: $('#txtemail').val(),
                darjah_tingkatan: $('#txtdarjah').val(),
                bangsa: $('#txtbangsa').val(),
                program: sel
            });

            API.addbulk(saving_data, 1, (d)=>{
                console.log(d);
            });
            //console.log(saving_data);
            d3.select('.idlePopUp').classed('hide',false);
                setTimeout(()=>{
                    window.location.replace("./user-peserta-urus");
            }, 3000);
    });

</script>