<div class="section-1">
    <%- include ('totembar.ejs') %>
    <div class="workspace">
        <div id="input-tray" class="input-tray fill-container flex-column center">
            <iframe style="height: 85vh;" class="width-full" id = "cerebry-practice" src = "https://admin.competition.cerebry.co/?auth_tok=<%=token%>"></iframe>
        </div>
    </div>
</div>