<div class="section-1">
    <%- include ('totembar.ejs') %>
        <div class="workspace">
            <h2>Evaluasi Peserta</h2>
            <div class="heigth-90vh overflow-scroll">
                <table class="table-x width-full">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <div class="flex-row">
                                    <div id="btnSave" class="button float-right"><i
                                            class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Simpan</div>
                                </div>
                            </th>
                        </tr>
                        
                        <tr>
                            <td>Carian<input placeholder="cari nama/kp peserta..." type="text" id="srcfilter" style="width: 100%;"></td>
                            <td>Peringkat<select id="peringkat" style="width: 100%;">
                                    <option value="sekolah">Sekolah</option>
                                    <option value="daerah">Daerah</option>
                                    <option value="negeri">Negeri</option>
                                    <option value="kebangsaan">Kebangsaan</option>
                                </select></td>
                            <td>Program<select id="program" style="width: 100%;">
                                    <option value="">Semua Acara</option>
                                    
                                </select></td>
                        </tr>
                    </thead>
                </table>
                <div id="peserta-container" class="flex-row width-full flex-wrap">

                </div>
            </div>
        </div>
</div>

<script src="./assets/jquery/3.6.0/jquery-3.6.0.min.js"></script>
<script src="./assets/d3/v7/d3.v7.min.js"></script>
    
<script>
    var API = {
            load: (peringkat, fn) => {
                $.ajax({
                        type: "POST",
                        url: '/api/peserta/load',
                        data: {peringkat:peringkat},
                        success: function (res) {
                            d3.select('.popUp').classed('hide',true);
                            d3.select('.popUp-container').selectAll('*').remove()
                            fn(res);
                        },
                        dataType: 'json'
                    });
            },
            programList: (fn) =>{
                $.ajax({
                        type: "POST",
                        url: '/api/program/list',
                        data: {},
                        success: function (res) {
                            fn(res);
                        },
                        dataType: 'json'
                    });
            },
            addbulk: (data, fn) => {
                $.ajax({
                        type: "POST",
                        url: '/api/peserta/add',
                        data: {peserta:data},
                        success: function (res) {
                            
                            fn(res);
                        },
                        dataType: 'json'
                    });
            }
        }

    //var peringkat = $('#peringkat').val();
    //API.load(peringkat, (data)=>{
    //    renderCards(data, prog);
    //    
    //});

    function go(){
        console.log('prog -------------------');
        API.programList((prog)=>{
            console.log('-----------',prog);
            var prog_sel = d3.select('#program');
            prog_sel.selectAll('.prog').data(prog).enter().append('option').attr('value',d=>d.prog_name).text(d=>d.prog_name);

            var peringkat = $('#peringkat').val();
            API.load(peringkat, (data)=>{
                renderCards(data, prog);
            });
        });
    }

    go();

</script>

<%- include ('__program.ejs') %>

<script>
    function renderCards(data, prog){
        console.log('xxxx------>>>',data);
        var c = d3.select('#peserta-container');
        c.selectAll('*').remove();

        var prog_ = [];
        prog.forEach((a)=>{
            tmp = {
                program: a.prog_name,
                peserta:[]
            };
            
            data.filter((b)=>{
                //console.log('filtered...',a.prog_name.match(b.program));
                a1 = a.prog_name.replace('(','').replace(')','').replace('*','');
                a2 = b.program.replace('(','').replace(')','').replace('*','');
                return a1.match(a2.program) && a2.length>2
            }).forEach((d)=>{
                console.log('-----d: ',d)
                var p = {
                    nama: d.nama,
                    kp: d.kp,
                    kumpulan: 0,
                    pertandingan: a.prog_name.split(' ')[0].replace('.',''),
                    nama_pertandingan: a.prog_name
                }
                
                tmp.peserta.push(p);
            });
            prog_.push(tmp);
        });

        console.log(prog_);
        c.selectAll('.program-card').data(prog_).enter().append('div').call((o)=>{
            o.attr('class','program-card flex-grow-4');
            hdr = o.append('div').attr('class','program-card-header flex-row center').append('span').text(d=>d.program);

            bdy = o.append('div').attr('class','program-body');
            bdy.selectAll('.program-peserta').data(d=>d.peserta).enter().append('div').call((b)=>{
                b.attr('class',(d)=>'program-peserta flex-row p_' + d.kp + ' a' + d.pertandingan);
                nama = b.append('div').attr('class','flex-column');
                nama.append('strong').style('line-height','0.7').style('margin-top','5px').text(d=>d.nama);
                nama.append('small').text(d=>d.kp);

                gkumpulan = b.append('div').attr('class','kumpulan float-right');

                btn1 = gkumpulan.append('div').attr('class','toggle-next-level text-dark').append('i').attr('class','k1 fa-solid fa-toggle-off fa-2x');
                btn2 = gkumpulan.append('div').attr('class','toggle-next-level text-dark').append('i').attr('class','k2 fa-solid fa-toggle-off fa-2x');

                btn1.on('mousemove',(e, d)=>{
                    d3.selectAll('.p_' + d.kp + '.a' + d.pertandingan).classed('bg-light',true).classed('text-dark',true);
                }).on('mouseout',(e, d)=>{
                    d3.selectAll('.p_' + d.kp + '.a' + d.pertandingan).classed('bg-light',false).classed('text-dark',false);
                }).on('click',(e, d)=>{
                    //d3.selectAll('.program-peserta').classed('bg-green',false);
                    toggle = d3.selectAll('.p_' + d.kp + '.a' + d.pertandingan + ' i.k1').classed('text-red');
                    d3.select('.p_' + d.kp + '.a' + d.pertandingan + ' i.k1').classed('text-red',!toggle);
                    d3.select('.p_' + d.kp + '.a' + d.pertandingan + ' i.k1').classed('fa-toggle-off',toggle).classed('fa-toggle-on',!toggle);
                    
                    d3.select('.p_' + d.kp + '.a' + d.pertandingan + ' i.k2').classed('text-green',false);
                    d3.select('.p_' + d.kp + '.a' + d.pertandingan + ' i.k2').classed('fa-toggle-off',true).classed('fa-toggle-on',false);
                    d.kumpulan = !toggle?1:0;
                });

                btn2.on('mousemove',(e, d)=>{
                    d3.selectAll('.p_' + d.kp + '.a' + d.pertandingan).classed('bg-light',true).classed('text-dark',true);
                }).on('mouseout',(e, d)=>{
                    d3.selectAll('.p_' + d.kp + '.a' + d.pertandingan).classed('bg-light',false).classed('text-dark',false);
                }).on('click',(e, d)=>{
                    //d3.selectAll('.program-peserta').classed('bg-green',false);
                    toggle = d3.selectAll('.p_' + d.kp + '.a' + d.pertandingan + ' i.k2').classed('text-green');
                    d3.select('.p_' + d.kp + '.a' + d.pertandingan + ' i.k2').classed('text-green',!toggle);
                    d3.select('.p_' + d.kp + '.a' + d.pertandingan + ' i.k2').classed('fa-toggle-off',toggle).classed('fa-toggle-on',!toggle);

                    d3.select('.p_' + d.kp + '.a' + d.pertandingan + ' i.k1').classed('text-red',false);
                    d3.select('.p_' + d.kp + '.a' + d.pertandingan + ' i.k1').classed('fa-toggle-off',true).classed('fa-toggle-on',false);
                    d.kumpulan = !toggle?2:0;
                })
            });
        });
        //c.selectAll('.card-program flex-column').data()

        

        d3.select('#peringkat').on('change',(e)=>{
            peringkat = $('#peringkat').val();
            API.load(peringkat, (data)=>{
                renderCards(data, prog);
            });
        });

        d3.select('#btnSave').on('click', ()=>{
            var g1 = d3.selectAll('.kumpulan').data().filter(a=>a.kumpulan===1);
            var g2 = d3.selectAll('.kumpulan').data().filter(a=>a.kumpulan===2);

            console.log(g1, g2);
        });
    }
</script>