<div class="section-1">
    <div class="popUp hide">
        
        <div id="pop" class="popUp-container flex-column" style="min-height: 100px;max-height:100vh;margin-left:10px">

        </div>
    </div>

    <%- include ('totembar.ejs') %>
    <div class="workspace">
        <h2>Daftar Peserta</h2>
        <hr>
        <div class="myaccordion flex-column width-full">
            <h5 class="myaccordion-header"><i class="fa-solid fa-circle-chevron-down"></i> A. Daftar secara pukal</h5>
            <div class="myaccordion-body hide">
                <div class="flex-row">
                    Sila muat turun &nbsp;
                    <a class="capsule " href="./templates/_templat_pendaftaran_techlympic.xlsx">
                        <i class="fa-solid fa-file-excel text-green"></i>&nbsp;&nbsp;
                        templat pendaftaran
                    </a>&nbsp;
                    untuk mendaftarkan penyertaan secara pukal
                </div>
                <div>Fail yang telah dilengkapkan boleh di muat naik pada panel di bawah</div>
                <div id="input-tray" class="input-tray fill-container flex-column center">
                    <span>Muat naik borang anda di sini</span>
                    <input type="file" class="custom-file-input" id="file-input" onchange="readFile()">
                </div>
                <div class="flex-row float-bottom">
                    <div id="simpan-bottom" class="button"><i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Simpan</div>
                </div>
            </div>

        </div>

        <hr>
        <div class="myaccordion flex-column width-full">
            <h5 class="myaccordion-header"><i class="fa-solid fa-circle-chevron-down"></i> B. Daftar secara individu</h5>
            <div class="myaccordion-body hide">
                <div class="flex-row my-6">
                    <div class="col-label">Nama</div>
                    <div>
                        <input type="text" name="txtnama" id="txtnama">
                    </div>
                </div>
                <div class="flex-row my-6">
                    <div class="col-label">Kad Pengenalan (KP)</div>
                    <div>
                        <input type="text" name="txtkp" id="txtkp">
                    </div>
                </div>
                <div class="flex-row my-6">
                    <div class="col-label">Jantina</div>
                    <div>
                        <select name="seljantina" id="seljantina">
                            <option value=""></option>
                            <option value="Lelaki">Lelaki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                    </div>
                </div>
                <div class="flex-row my-6">
                    <div class="col-label">Tarikh Lahir</div>
                    <div>
                        <input type="date" name="txtkp" id="txtdob">
                    </div>
                </div>
                <div class="flex-row my-6">
                    <div class="col-label">Email</div>
                    <div>
                        <input type="text" name="txtemail" id="txtemail">
                    </div>
                </div>
                <div class="flex-row my-6">
                    <div class="col-label">Darjah/ Tingkatan</div>
                    <div>
                        <input type="text" name="txtdarjah" id="txtdarjah">
                    </div>
                </div>
                <div class="flex-row my-6">
                    <div class="col-label">Bangsa</div>
                    <div>
                        <input type="text" name="txtbangsa" id="txtbangsa">
                    </div>
                </div>
                <div class="flex-row my-6">
                    <div class="col-label">Penyertaan</div>
                    <div id="individu_acara" class="flex-column">
                        
                    </div>
                </div>
                <div class="flex-row float-bottom">
                    <button class="button" id="saveIndividu"><i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Simpan</button>
                </div>
            </div>
            
            
        </div>

    </div>
    
    <div class="idlePopUp center hide">
        <i class="fa-solid fa-spinner fa-spin-pulse fa-3x"></i>
        <div id="themsg1"></div>
        <div id="themsg"></div>
    </div>
    
    <div id="popUp-list" class="popUp hide">
        <div class="popUp-container flex-column width-full" id="listContainer">
            <div class="acara-list">
                <div class="flex-row">
                    <h5>Sila pilih pertandingan</h5>
                    <div class="button float-right" onclick="closePopup()"><i class="fa-solid fa-x"></i></div>
                </div>
                <div class="flex-row acara" style="font-style:italic;color:var(--secondary-color) !important;padding-bottom:20px;border-bottom: 1px solid rgb(102, 102, 102);">
                    <input type="checkbox" class="chk_select_all" id="chk_select_all" name="chk_select_all" value="Pilih Semua">
                    <label for="chk_select_all" style="padding-left: 6px;">Pilih Semua Pertandingan</label>
                </div>
                <div class="pertandingan"></div>
                
                <div class="flex-row py-6">
                    <div class="button" id="btn-selectCommon"><i class="fa-solid fa-square-check"></i>&nbsp;&nbsp;Pilih</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Get file input element
        const fileInput = document.getElementById('file-input');
        
        // Add event listeners for drag and drop
        fileInput.addEventListener('dragenter', function(event) {
            event.preventDefault();
            event.stopPropagation();
            fileInput.classList.add('dragover');
        });
        
        fileInput.addEventListener('dragleave', function(event) {
            event.preventDefault();
            event.stopPropagation();
            fileInput.classList.remove('dragover');
        });
        
        fileInput.addEventListener('dragover', function(event) {
            event.preventDefault();
            event.stopPropagation();
        });
        
        fileInput.addEventListener('drop', function(event) {
            event.preventDefault();
            event.stopPropagation();
            fileInput.classList.remove('dragover');
            fileInput.files = event.dataTransfer.files;

            readFile();
        });

    </script>
    <!--
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
     Include the SheetJS library 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    -->
    <script src="./assets/jquery/3.6.0/jquery-3.6.0.min.js"></script>
    <script src="./assets/d3/v7/d3.v7.min.js"></script>
    <script src="./assets/xlsx/xlsx.full.min.js"></script>

    <script>
        var requestsSent = 0;
        var responsesReceived = 0;
        var pages = 0;

        const myIntervalReading = setInterval(()=>{
            d3.select('#themsg').text(responsesReceived + '/' + pages);
        }, 1000);


        var API = {
            addbulk: (data, i, fn) => {
                d3.select('.idlePopUp').classed('hide',false);
                d3.select('#themsg1').text('menyimpan data batch[' + i + '] ' + data.length + ' rekod');
                //if((i+1)===n){
                //    d3.select('.idlePopUp').classed('hide',true);
                //}
                $.ajax({
                        type: "POST",
                        url: '/api/peserta/add',
                        data: {peserta:data},
                        success: function (res) {
                            // Handle the success response
                            
                            // Increment the responses received count
                            responsesReceived++;
                            
                            // Check if all responses have been received
                            if (responsesReceived === requestsSent) {
                                // All requests have been completed
                                console.log("All requests have returned their responses.");
                            }
                        },
                        dataType: 'json',
                        complete: function(jqXHR, textStatus) {
                            var response = jqXHR.responseText;
                            console.log('Response:', response);
                            // Handle the success response
                            
                            // Increment the responses received count
                            responsesReceived++;
                            
                            // Check if all responses have been received
                            if (responsesReceived >= pages) {
                                // All requests have been completed
                                console.log("All requests have returned their responses.");
                                d3.select('.idlePopUp').classed('hide',true);
                                pages = 0;
                            }
                        },
                        xhr: function() {
                            var xhr = new window.XMLHttpRequest();
                            
                            // Attach progress event listener
                            xhr.upload.addEventListener("progress", function(evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = (evt.loaded / evt.total) * 100;
                                // Update progress bar or display the progress percentage
                                console.log(percentComplete + "%");
                                requestsSent++;
                            }
                            }, false);
                            
                            return xhr;
                        },
                    });
            },
            loadPrograms(fn){
                $.ajax({
                        type: "POST",
                        url: '/api/program/list',
                        data: {},
                        success: function (res) {
                            
                            fn(res);
                        },
                        dataType: 'json'
                    });
            }
        }


        API.loadPrograms((prog)=>{
            console.log(prog);
            lst = [];
            prog.forEach((d)=>{
                lst.push({id:d.prog_code.replace('.',''), acara:d.prog_name, peringkat: d.target_group});
            });
            acara = d3.select('#individu_acara');
            acara_contain = acara.append('div').attr('class','flex-column');
            acara_contain.selectAll('.acara').data(lst).enter().append('div').call((a)=>{
                a.attr('class',d=>'flex-row acara ' + d.peringkat).attr('id',(d)=>'acara_' + d.id).style('border-bottom','1px solid #666');
                chk = a.append('input').attr('type','checkbox').attr('class',(d)=>('_header'))
                .attr('id',(d, i)=>('_' + d.id + '_' + i))
                .attr('name',(d)=>('_' + d.id))
                .attr('value', d=>d.acara);
                a.append('label').style('padding-left','6px').attr('for',(d, i)=>('_' + d.id + '_' + i)).text(d=>d.acara);

                chk.on('change',(e, d)=>{
                    ic = e.target.id.split('_')[1];
                    nx = d3.selectAll('._' + ic + ':checked').data();
                    n = nx.length;
                    
                    d3.select('#button-' + ic).classed('bg-green',n>0?true:false).html((n>0)?'<i class="fa-solid fa-person-walking-arrow-right"></i>&nbsp;&nbsp;Penyertaan<div class="float-right score">' + n + '</div>':'<i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Pilih penyertaan...')
                    console.log(e.target.id, d, ic, n);

                })
            });
        });
    </script>

    <script>
    function readFile() {
      $('.idlePopUp').removeClass('hide');  
      // Get the file input element
      var fileInput = document.getElementById('file-input');
    
      // Get the first file from the input element
      var file = fileInput.files[0];
    
      // Create a new FileReader object
      var reader = new FileReader();
    
      // When the FileReader object is done loading the file
      reader.onload = function(event) {
        // Get the binary data from the loaded file
        var data = event.target.result;
    
        // Parse the binary data into a workbook object
        var workbook = XLSX.read(data, { type: 'binary' });
        
    
        // Get the first worksheet from the workbook
        var worksheet = workbook.Sheets[workbook.SheetNames[0]];
    
        // Convert the worksheet data to JSON format
        var jsonData = XLSX.utils.sheet_to_json(worksheet);
    
        // Log the JSON data to the console
        //console.log(jsonData);
        API.loadPrograms((prog)=>{
            lst = [];
            prog.forEach((d)=>{
                lst.push({program:d.prog_name, peringkat:d.target_group});
            });
            renderD3Table(lst, jsonData);
        })
        
      };
    
      // Read the file as binary data
      reader.readAsBinaryString(file);
    }

    function getJsonKeys(jsonData) {
    // Create an empty array to store the keys
    var keys = [];

    // Loop through the first object in the JSON data
    for (var key in jsonData[0]) {
        // Add the key to the array
        keys.push(key);
    }

        // Return the array of keys
        return keys;
    }


    function repareIC(kp){
        var kp_ = kp.replace('-','').replace('-','').replace("'","").replace('`','').trim();
        var res = kp_;

        if(kp.length < 12){
            var n = 12 - kp.length;
            var zero = '';
            for(i=0;i<n;i++){
                zero+='0';
            }

            res = zero + kp_ + '';
        }

        return res;
    }


    function renderD3Table(lst, data){
        //const distinct = arr.filter((value, index, self) => {
        //    return self.indexOf(value) === index;
        //});
        
        
        var setCommonPertandingan = (e)=>{
           
            var filter_ = (d)=> {
                val = $('#srcfilter').val();
                return (d['nama'].toUpperCase().match(val.toUpperCase()) || d['no kp'].match(val)) && d['darjah/ tingkatan'].match($('#kelas').val()) && d['jantina'].match($('#jantina').val())
            };

            var r = d3.selectAll('.chk_acara:checked').data();

            console.log('data for r: ', r);
            
            d3.selectAll('.peserta:not(.hide) .chk-all').property('checked',false);
            r.forEach((p)=>{
                d3.selectAll('.chk-all[value="' + p + '"]').property('checked',true);
            });
            

            data.filter(filter_).forEach((d)=>{
                d['no kp'] = d['no kp'].replace('-','').trim();
                ic = d['no kp'];
                //nx = d3.selectAll('._' + ic + ':checked').data();
                n = r.length;
                d3.select('#button-' + ic).classed('bg-green',n>0?true:false).html((n>0)?'<i class="fa-solid fa-person-walking-arrow-right"></i>&nbsp;&nbsp;Penyertaan<div class="float-right score">' + n + '</div>':'<i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Pilih penyertaan...')
            });

            $('#popUp-list').addClass('hide');
            
        };
        d3.select('#btn-selectCommon').on('click', setCommonPertandingan);

        kelas = [];
        bangsa = [];
        data.forEach((d)=>{
            d['darjah/ tingkatan'] = d['darjah/ tingkatan'] + '';
            d['no kp'] = d['no kp'] + '';
            d['no kp'] = repareIC(d['no kp']);
            
            d['bangsa'] = d['bangsa']===undefined?'':d['bangsa'];
            d['email'] = d['email']===undefined?'':d['email'];

            kelas.push(d['darjah/ tingkatan']);
            bangsa.push(d['bangsa']);

            _j = d['no kp'].charAt(d['no kp'].length - 1)*1;
            _v = _j%2==0?'Perempuan':'Lelaki';
            d['jantina'] = _v;
        });

        console.table(data);


        kelas.unshift('');
        kelas = kelas.filter((value, index, self) => {
            return self.indexOf(value) === index;
        });

        bangsa.unshift('');
        bangsa = bangsa.filter((value, index, self) => {
            return self.indexOf(value) === index;
        });
        /*
        lst = [
                'Cabaran Kereta Lestari',
                'Misi Penerbangan Dron',
                'Cabaran Mencipta Robot',
                'Program Jangkauan Techlympics',
                'Cabaran Bandar Pintar',
                'Pemikiran Komputasi Kanak-Kanak'
            ];
            */

        const doFilter = (e, d)=>{
            val = $('#srcfilter').val();

            _d = data.filter((d)=> {
                console.log(d['nama'],d['nama'].match(val));
                return (d['no kp'].match(val) || d['nama'].toUpperCase().match(val.toUpperCase())) && d['darjah/ tingkatan'].match($('#kelas').val())  && d['jantina'].match($('#jantina').val());
            });

            //console.log(_d);

            d3.selectAll('.peserta').classed('hide',true);
            _d.forEach((d)=>{d3.select('.peserta-' + d['no kp']).classed('hide',false)});
        }

        keys = ['no kp','nama','email','darjah/ tingkatan','bangsa'];//getJsonKeys(data);
        //keys.push('Penyertaan Acara')
        c = d3.select('#input-tray').attr('class','heigth-90vh overflowy-scroll');
        c.selectAll('*').remove();

        table = c.append('table').attr('class','table-x width-full');

        thead = table.append('thead');

        trhs = thead.append('tr');
        ths = trhs.append('th').attr('colspan',8);

        var doSave = (e)=>{
            //var _data = d3.selectAll(".peserta", {style: "all"}).data();
            d3.select('.idlePopUp').classed('hide',false);
            var saving_data = [];
            var saving_batch = [];
            //console.log('data.length: ',data.length);
            var MAX_ROW = 50;
            console.log('data.length/20: ',Math.ceil(data.length/MAX_ROW));

            var n = Math.ceil(data.length/MAX_ROW);
            pages = n;

            data.forEach((d, i)=>{
                sel_ = [];
                d3.selectAll('._'+d['no kp'] + ':checked').data().forEach((d)=>{
                    sel_.push(d.acara);
                });

                jantina = $('#gender_' +d['no kp'] ).val();
                dob = $('#dob_' +d['no kp'] ).val();

                sel = sel_.join('|');
                saving_data.push({
                    nama: d.nama,
                    kp: d['no kp'],
                    jantina:jantina,
                    tarikh_lahir:dob,
                    email: d.email,
                    darjah_tingkatan: d['darjah/ tingkatan'],
                    bangsa: d.bangsa,
                    program: sel
                });

                if(saving_data.length==MAX_ROW){
                    saving_batch.push(saving_data.slice());
                    saving_data = [];
                }
                //
            });

            if(saving_data.length > 0){
                saving_batch.push(saving_data.slice());
            }


            console.log('saving_data', saving_data);

            
            //console.log(saving_batch);
            //saving_batch.forEach((dx, i)=>{
            //});
            
            var i = 0;
            var pushAddInterval = setInterval(()=>{
                if(saving_batch[i]){
                    API.addbulk(saving_batch[i], i, (d)=>{
                        console.log(d);
                    });
                }
                i++;
                
                if(i>n){
                    clearInterval(pushAddInterval,3000);
                }
            }, 3000);

           
            
        };

        //BUTTON to save
        bts_simpan = ths.append('div').attr('class','flex-row').append('div').attr('class','button float-right').html('<i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Simpan')
        bts_simpan.on('click', doSave);
        d3.select('#simpan-bottom').on('click', doSave);

        trh = thead.append('tr');
        trh.selectAll('th').data(keys).enter().append('th').text(d=>d.toUpperCase());
        trh.append('th').text('JANTINA');
        trh.append('th').text('TARIKH LAHIR');
        td_def = trh.append('th').attr('style','width:300px').append('div').attr('class','flex-row center');
        td_def.append('div').text('PENYERTAAN PERTANDINGAN');
        //BUTTON to set default
        btn_def = td_def.append('div').attr('class','button float-right').html('<i class="fa-solid fa-list"></i>');
        btn_def.on('click', ()=>{
            //console.log('lst: ',lst);
            d3.select('#chk_select_all').property('checked',false);
            d3.select('#popUp-list').classed('hide',false);
            acara_contain = d3.select('#listContainer > .acara-list > .pertandingan');

            acara_contain.selectAll('.acara').remove();
            
            acara_contain.selectAll('.acara').data(lst).enter().append('div').call((a)=>{
                a.attr('class',d=>'flex-row acara ' + d.peringkat).attr('id',(d)=>'acara_' + d.id).style('border-bottom','1px solid #666');
                chk = a.append('input').attr('type','checkbox').attr('class',(d)=>('chk_acara'))
                .attr('id',(d, i)=>('acara_' + i))
                .attr('name',(d, i)=>('acara_' + i))
                .attr('value', d=>d);
                a.append('label').style('padding-left','6px').attr('for',(d, i)=>('acara_' + i)).text(d=>d.program);

            });
        })

        trh2 = thead.append('tr');
        src = trh2.append('td').attr('colspan',3).append('input').attr('type','text').style('width','100%').attr('id','srcfilter');

        src2 = trh2.append('td').append('select').attr('id','kelas').style('width','100%');
        src2.selectAll('option').data(kelas.sort((a,b)=>a-b)).enter().append('option').text(d=>d);

        //trh2.append('td');
        src2x = trh2.append('td').append('select').attr('id','bangsa').style('width','100%');
        src2x.selectAll('option').data(bangsa.sort((a,b)=>a-b)).enter().append('option').text(d=>d);

        src3 = trh2.append('td').append('select').attr('id','jantina').style('width','100%');
        src3.selectAll('option').data(['','Lelaki','Perempuan']).enter().append('option').text(d=>d);

        trh2.append('td');

        var lst2 = lst.slice();
        lst2.unshift({program:'Belum memilih acara', peringkat:''});
        lst2.unshift({program:'Semua Acara', peringkat:''});
        src4 = trh2.append('td').append('select').style('width','100%');
        src4.selectAll('option').data(lst2).enter().append('option').text(d=>d.program);

        src.on('keyup', doFilter);
        src2.on('change', doFilter);
        src2x.on('change', doFilter); //bangsa
        src3.on('change', doFilter); //jantina

        tbody = table.append('tbody')
        tbody.selectAll('tr').data(data.sort((a,b)=>a['darjah/ tingkatan']-b['darjah/ tingkatan'])).enter().append('tr').call((o)=>{
            o.attr('class',(d)=>'peserta peserta-' + d['no kp']);
            keys.forEach((key, i)=>{
                o.append('td').attr('style',(i===3)?'text-align:center':'text-align:left').text((d)=>d[key]);
            });

            var _jantina = o.append('td').append('select').attr('id',(d)=>'gender_' + d['no kp']).style('width','100%').attr('value',d=>{
                _j = d['no kp'].charAt(d['no kp'].length - 1)*1;
                _v = _j%2==0?'Perempuan':'Lelaki';

                return _v;
            });
            _jantina.selectAll('option').data(d=>{
                _j = d['no kp'].charAt(d['no kp'].length - 1)*1;
                _v = _j%2==0?'Perempuan':'Lelaki';

                return [
                    {chk: _v===''?true:false, val:''},
                    {chk: _v==='Lelaki'?true:false, val:'Lelaki'},
                    {chk: _v==='Perempuan'?true:false, val:'Perempuan'}
                ]
            }).enter().append('option')
                    .attr('value',d=>d.val).text(d=>d.val).property('selected',d=>d.chk);

            var _dob = o.append('td').append('input').attr('id',(d)=>'dob_' + d['no kp']).attr('type','date').style('width','100%').attr('value',(d)=>{
                _t = d['no kp'].substring(0, 2);
                _y = (_t*1)>30?('19' + _t):('20' + _t);
                _m = d['no kp'].substring(2, 4);
                _d = d['no kp'].substring(4, 6); 

                //dd = new Date(_y,_m,_d);
                //console.log(_y,_m,_d,'tarikh......',dd);

                return _y + '-' + _m + '-' + _d
            });

            acara = o.append('td').append('div').attr('class','flex-column');
            acara_header = acara.append('div').attr('class','flex-row');
            btn_acara = acara_header.append('div')
                        .attr('class','button width-full flex-row')
                        .attr('id',(d)=>('button-' + d['no kp']))
                        .html('<i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Pilih penyertaan...');

            btn_acara.on('click', (e, d) => {
                el = '#container-' + d['no kp'];
                console.log(el, d3.select(el).classed('hide'));

                d3.select(el).classed('hide',!d3.select(el).classed('hide'));
            })

            acara_contain = acara.append('div').attr('class','flex-column hide').attr('id',(d)=>('container-' + d['no kp']));
            acara_contain.selectAll('.acara').data((d)=>{
                //console.log(d);
                id = d['no kp'];
                v = [];
                console.log('LST-LST-LST-LST:::::::',lst);
                lst.forEach((x)=>v.push({id:id, acara:x.program, peringkat: x.peringkat}));
                return v;
            }).enter().append('div').call((a)=>{
                a.attr('class',d=>'flex-row ' + d.peringkat).attr('id',(d)=>'acara_' + d.id).style('border-bottom','1px solid #666');
                chk = a.append('input').attr('type','checkbox').attr('class',(d)=>('chk-all _' + d.id))
                .attr('id',(d, i)=>('_' + d.id + '_' + i))
                .attr('name',(d)=>('_' + d.id))
                .attr('value', d=>d.acara).property('checked',true);
                a.append('label').style('padding-left','6px').attr('for',(d, i)=>('_' + d.id + '_' + i)).text(d=>d.acara);

                chk.on('change',(e, d)=>{
                    ic = e.target.id.split('_')[1];
                    nx = d3.selectAll('._' + ic + ':checked').data();
                    n = nx.length;
                    
                    d3.select('#button-' + ic).classed('bg-green',n>0?true:false).html((n>0)?'<i class="fa-solid fa-person-walking-arrow-right"></i>&nbsp;&nbsp;Penyertaan<div class="float-right score">' + n + '</div>':'<i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Pilih penyertaan...')
                    //console.log(e.target.id, d, ic, n);

                })
            });
        });

        

        data.forEach((d)=>{
            console.log('==========>>>', d);
            ic = d['no kp'];
            nx = d3.selectAll('._' + ic + ':checked').data();
            n = nx.length;
            d3.select('#button-' + ic).classed('bg-green',n>0?true:false).html((n>0)?'<i class="fa-solid fa-person-walking-arrow-right"></i>&nbsp;&nbsp;Penyertaan<div class="float-right score">' + n + '</div>':'<i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Pilih penyertaan...')
        });


        $('.idlePopUp').addClass('hide');
    }
    </script>

    <script>
        $('.myaccordion').on('click', (e)=>{
            $('.myaccordion-body').addClass('hide');
            $(e.currentTarget).find('.myaccordion-body').toggleClass('hide');

        });

        $('#txtkp').on('change',(e)=>{
            kp = $('#txtkp').val();
            _j = kp.charAt(kp.length - 1)*1;
            _v = _j%2==0?'Perempuan':'Lelaki';

            $('#seljantina').val(_v);

            _t = kp.substring(0, 2);
            _y = (_t*1)>30?('19' + _t):('20' + _t);
            _m = kp.substring(2, 4);
            _d = kp.substring(4, 6); 

            $('#txtdob').val(_y + '-' + _m + '-' + _d);
        });
    </script>

    <script>
        simpan_ = d3.select('#saveIndividu')
        simpan_.on('click', (e)=>{
            //var _data = d3.selectAll(".peserta", {style: "all"}).data();
            var saving_data = [];
            sel_ = [];
            d3.select('#individu_acara') .selectAll('input[type="checkbox"]:checked').data().forEach((d)=>{
                sel_.push(d.acara);
            });

            jantina = $('#txtjantina' ).val();
            dob = $('#txtdob').val();

            sel = sel_.join('|');
            saving_data.push({
                nama: $('#txtnama').val(),
                kp: $('#txtkp').val(),
                jantina:$('#seljantina').val(),
                tarikh_lahir:$('#txtdob').val(),
                email: $('#txtemail').val(),
                darjah_tingkatan: $('#txtdarjah').val(),
                bangsa: $('#txtbangsa').val(),
                program: sel
            });

            API.addbulk(saving_data, 1, (d)=>{
                console.log(d);
            });
            //console.log(saving_data);
            d3.select('.idlePopUp').classed('hide',false);
                setTimeout(()=>{
                    window.location.replace("./user-peserta-urus");
            }, 3000);
        });
    </script>

    <script>
        function closePopup(){
            $('#popUp-list').addClass('hide');
        }

        d3.select('#chk_select_all').on('change', (e)=>{
            chk = d3.select('#chk_select_all').property('checked');
            d3.selectAll('.chk_acara').property('checked',chk)
        })
    </script>
</div>
