<div class="working">
   <section id="sec-1" class="section-1 flex-column">

        <div class='imgBg flex-column px-6 py-6'>
        <div class='flex-row mosti'>
            <img class='.jata' src="./img/jata_malaysia.svg" width="90vh"></img>
            <div class='flex-column px-6 justify mosti-text left-border'>
            <h5>KEMENTERIAN SAINS,</h5>
            <h5>TEKNOLOGI DAN INOVASI</h5>
            </div>
        </div>

        </div>
        <div class="imgBg flex-row center">
        <div class='glow'>
            <span>Selamat Kembali</span>

            <% if (user.email) { %>
            <strong><%= user.displayName %></strong>
            <%}%>
                <h1>Techlympics 2024</h1>
                <% if (!user.email) { %>
            <div class="flex-row">
            <a class="button" href="/daftar">Sertai kami</a>
            <a class="button login-toggler" href="/login">Log Masuk</a>
            </div>
            <%}%>
            
            </div>
        </div>
        <!--
        <img class='thebg' src="./img/bg-02.png"></img>
        -->
    </section>
    
    <section id="sec-2" class="section-2 flex-row flex-wrap">
        <div class="flex-column width-full center">
            <div><span>Pertandingan</span> <h1>Techlympic 2023</h1></div>
        </div>
    </section>
    
</div>

<script src="./assets/jquery/3.6.0/jquery-3.6.0.min.js"></script>
    <script src="./assets/d3/v7/d3.v7.min.js"></script>
    <script src="./assets/xlsx/xlsx.full.min.js"></script>

    <script>
        var requestsSent = 0;
        var responsesReceived = 0;
        var pages = 0;

        const myIntervalReading = setInterval(()=>{
            d3.select('#themsg').text(responsesReceived + '/' + pages);
        }, 1000);


        var API = {
            loadPrograms(fn){
                $.ajax({
                        type: "POST",
                        url: '/api/program/list',
                        data: {},
                        success: function (res) {
                            
                            fn(res);
                        },
                        dataType: 'json'
                    });
            }
        }

        var imgIcon1 = {
            'Aeroangkasa': 'themes/AER.svg',
            'Kecerdasan Buatan dan Sains Data': 'themes/AI.svg',
            'Teknologi Sohor': 'themes/TS.svg',
            'Inovasi, Kreativiti untuk Kesejahteraan Rakyat': 'themes/KR.svg',
            'Keterangkuman Malaysia Madani': 'themes/MDN.svg',
            'Sains & Inovasi': 'themes/SC.svg'
        }


        API.loadPrograms((prog)=>{
            
            var div = d3.select('#sec-2');
            div.selectAll('.themes').remove();


            ['Rendah', 'Menengah', 'Belia'].forEach((tar)=>{

                _theme = [];
                theme = [];
                prog.filter(d=>d.target_group===tar).forEach((d)=>{
                    //lst.push({id:'__tmp__', acara:d.prog_name});
                    _theme.push(d.theme);
                });

                _theme = _theme.filter((value, index, self) => {
                    return self.indexOf(value) === index;
                });

                _theme.forEach((d)=>{
                    theme.push({
                        theme : d,
                        comp: []
                    });
                });

                prog.filter(d=>d.target_group===tar).forEach((d)=>{
                    theme.forEach((t)=>{
                        if(d.theme===t.theme){
                            t.comp.push(d);
                        }
                    });
                });

                theme.forEach((t)=>{
                    //t.comp
                    t.comp = t.comp.filter((value, index, self) => {
                        return self.indexOf(value) === index;
                    });
                });

                //console.log(theme);
                if(theme.length > 0){
                    div.append('div').attr('class','flex-column width-full center bg-green').append('h1').text(tar);
                }

                
                div.selectAll('.themes-' + tar).data(theme).enter().append('div').call((o)=>{
                    box = o.attr('class','themes flex-row themes-' + tar);
                    //img = box.append('div');
                    box.append('img').attr('class','img-r').attr('src',d=>'./img/' + imgIcon1[d.theme]);
                    con = box.append('div').attr('class','comp flex-column');
                    con.append('span').attr('class','capsule bg-green').text(d=>d.comp[0].target_group);
                    con.append('h3').text((d)=>d.theme);

                    con.selectAll('.competition').data(d=>{
                        c = [];
                        d.comp.forEach((x)=>c.push(x.prog_name));
                        c = c.filter((value, index, self) => {
                            return self.indexOf(value) === index;
                        });
                        //console.log(c);
                        return c;
                    }).enter().append('div').text(d=>d);
                });
            });
            
        });
    </script>